// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Honk&family=Pacifico&display=swap')


// Define fonts for body and headers
$body-font: "Pacifico", cursive;
$headers-font: "Pacifico", cursive;
$banner-font: "Honk", system-ui !important;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.banner h1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

// .title h2 {
//   font-family: "Pacifico", cursive;
//   font-weight: 400;
//   font-style: normal;
// }
