.container {
  top: 10px;
  margin: 50px 50px 50px 50px;
}

.listing-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image-wrapper {
  margin-top: 10px;
  border-radius: 8px;
}

.details-list {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0 0;
}

.details-list li {
  margin-bottom: 5px;
}

.btn-primary,
.btn-outline-primary {
  border-radius: 5px;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: #28a745;
  color: #28a745;
}

.btn-primary:hover {
  background-color: #218838;
}

.col-4 {
  border-radius: 15px;
  bottom: 8px;
  top: 20px;
}
