<div class="banner h1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/pony-3779312_1922.jpg');">
  <div class="centered-text">
    <h1>Once a pony time...</h1>
  </div>
</div>
