<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/171335800/fr/photo/wild-ponys-shetland.jpg?s=612x612&w=0&k=20&c=mlr8Vqn23LYEOzxm2zcjSinEF01tQhpiXAG2KezMuAs=);">
  <div class="container">
    <h1>Welcome to the wonderful world of ponies</h1>
    <i class="fa-solid fa-spray-can-sparkles"></i>
    <a class="btn btn-outline-light" href="#">Rent a pony now</a>
  </div>
</div>
