<div class="card-product">
  <%= image_tag "/assets/pony_one.jpg" %>
  <div class="card-product-infos">
    <h2>Poney</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
    <ul>
    <li>Name:</li>
    <li>Price:</li>
    <li>Alias:</li>
    <li>Sex:</li>
    <li>Color:</li>
    <li>Discipline:</li>
    <li>Breed:</li>
    </ul>
  </div>
</div>
