.banner{
  width: 100vw;
  height: 50vh;
  overflow: none;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
  align-content: center;
}

a {
  text-align: center;
}
