.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.nav-item active {
  margin: 1em;
  margin-top: 10%;
}

.nav-item {
  margin: 1em;
  margin-top: 10%;
}

.nav-add {
  margin: 1em;
  margin-top: 10%;
}


.nav-item-dropdown {
  margin-bottom: 15em;
}
