<%= render "shared/banner" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="cards">
        <% @ponies.each do |pony| %>
        <div class="card d-flex align-items-center" style="width: 18rem;">
          <img src="/assets/pony_one.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= link_to pony.name, pony_path(pony)%></h5>
            <p class="card-text"><%= pony.price%>$</p>
            <a href="#" class="btn btn-primary">Rent this pony</a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
