<h1>Ponies#show</h1>
<p>Find me in app/views/ponies/show.html.erb</p>

  <h3><strong><%= @pony.name %></strong></h3>
  <p><%= @pony.price %></p>
        <%= @pony.description %>

<%= link_to "book a poney", new_pony_booking_path(@pony) %>
